/* 부모 요소들에 대해 기본적인 설정 */
html, body, #root, .App {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* 본문을 화면 중앙에 배치 */
  .App-body {
    display: flex;
    justify-content: center; /* 가로 중앙 배치 */
    align-items: center; /* 세로 중앙 배치 */
    height: 100%;
  }