input[type="text"], input[type="password"],input[type="email"],input[type="tel"] {

    text-align: center;
    height: 40px; /* 버튼과 인풋 박스의 높이를 동일하게 설정 */
    padding: 0 15px; /* 좌우 패딩 */
    font-size: 16px; /* 글자 크기 */
    border-radius: 8px; /* 모서리를 둥글게 */
    box-sizing: border-box; /* 패딩을 높이에 포함 */

}
button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 8px;
}
.google-button {
    background-color: #dbdbdb;
}
.kakao-button {
    background-color: #FEE500;
}

.naver-button {
    background-color: #03C75A;
}

button a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

button img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
