<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script 
        src="https://cdn.iamport.kr/v1/iamport.js">
    </script>
    <!-- jQuery -->
    <script 
        type="text/javascript" 
        src="https://code.jquery.com/jquery-1.12.4.min.js" >
    </script>
    <!-- iamport.payment.js -->
    <script 
        type="text/javascript" 
        src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js">
    </script>
    <!-- iamport.payment.js -->
    <script
      type="text/javascript"
      src="https://unpkg.com/axios/dist/axios.min.js"
    ></script>

    <script>
        var IMP = window.IMP;
        IMP.request_pay({
            pg : 'html5_inicis',
            pay_method : 'card',
            merchant_uid: "order_no_0001", // 상점에서 관리하는 주문 번호
            name : '주문명:결제테스트',
            amount : 14000,
            buyer_email : 'iamport@siot.do',
            buyer_name : '구매자이름',
            buyer_tel : '010-1234-5678',
            buyer_addr : '서울특별시 강남구 삼성동',
            buyer_postcode : '123-456'
        }, function(rsp){
                if(rsp.success){
                    //결제성공
                    var msg = '결제가 완료되었습니다';
                    alert(msg);
                    location.href="/"
                }else{
                    //결제실패
                    var msg = '결제가 실패하였습니다';
                    msg += '에러내용:'+rsp.error_msg;
                    alert(msg);
                    location.href="/"
                }
            })
    </script>
</head>
<body>
    
    <button onclick="payment()">구매하기</button>
    <script src="payment.js"></script>

</body>
</html>