<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zd.back.JY.domain.attendance.AttendanceMapper">

    <select id="maxNum" resultType="int">
        SELECT NVL(MAX(attId), 0) FROM attendance
    </select>

    <insert id="insertAtt" parameterType="map">
    INSERT INTO attendance (attId, attDate, memId)
    VALUES (attendance_seq.NEXTVAL, TRUNC(SYSDATE), #{memId})
    </insert>

    <select id="checkToday" parameterType="String" resultType="int">
    SELECT COUNT(*) FROM attendance
    WHERE TRUNC(attDate) = TRUNC(SYSDATE)
    AND memId = #{memId}
    </select>

    <insert id="regiAtt" parameterType="com.zd.back.JY.domain.attendance.AttendanceDTO">
        INSERT INTO attendance (attId, attDate, memId)
        VALUES (#{attId}, TRUNC(SYSDATE), #{memId})
    </insert>

    <select id="getMonthlyAttendance" resultType="com.zd.back.JY.domain.attendance.AttendanceDTO">
    SELECT * FROM attendance
    WHERE memId = #{memId}
    AND EXTRACT(YEAR FROM attDate) = #{year}
    AND EXTRACT(MONTH FROM attDate) = #{month}
    </select>

    <select id="getAttendanceDates" parameterType="string" resultType="java.util.Date">
    SELECT TRUNC(attDate) FROM attendance WHERE memId = #{memId}
    </select>

</mapper>
