<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zd.back.tipboard.bbs.mapper.BbsMapper">

	<!-- 글 목록 조회 -->
	<select id="getBbsSearchPageList" parameterType="com.zd.back.tipboard.bbs.dto.param.BbsListParam"
		resultType="com.zd.back.tipboard.bbs.domain.Bbs">
		SELECT seq, memId, ref, step, depth, title, content, created, del, count
		FROM
					(SELECT row_number() OVER(ORDER BY ref DESC, step ASC) AS rnum,
					seq, memId, ref, step, depth, title, content, created, del, count
					FROM tipboard
					<if test="choice != null and choice != ''
								and search != null and search != '' ">
						<if test="choice == 'title'">
							WHERE title LIKE concat('%', #{search}, '%')
						</if>
						<if test="choice == 'content'">
							WHERE content LIKE concat('%', #{search}, '%')
						</if>
						<if test="choice == 'writer'">
							WHERE memId=#{search}
						</if>
					</if>
					ORDER BY ref DESC, step ASC) a
		WHERE rnum BETWEEN ${pageStart} AND ${pageEnd}
	</select>

	<!-- 글 총 개수 조회 -->
	<select id="getBbsCount" parameterType="com.zd.back.tipboard.bbs.dto.param.BbsCountParam" resultType="Integer">

		SELECT nvl(count(*), 0)
		FROM tipboard
		<if test="choice != null and choice != ''
		 			and search != null and search != '' ">
			<if test="choice == 'title'">
				WHERE title LIKE concat('%', #{search}, '%')
			</if>
			<if test="choice == 'content'">
				WHERE content LIKE concat('%', #{search}, '%')
			</if>
			<if test="choice == 'writer'">
				WHERE memId=#{search}
			</if>
		</if>
	</select>

	<!-- 특정 게시글 조회 -->
	<select id="getBbs" parameterType="Integer" resultType="com.zd.back.tipboard.bbs.domain.Bbs">
		SELECT seq, memId, ref, step, depth, title, content, created, del, Count
		FROM tipboard
		WHERE seq=#{seq}
		ORDER BY ref DESC, step ASC
	</select>

	<!-- 게시글 조회수 레코드 생성 -->
	<insert id="createBbsReadCountHistory" parameterType="com.zd.back.tipboard.bbs.dto.param.CreateReadCountParam">
		INSERT INTO hitcount (bbsSeq, memId, latest) VALUES (#{bbsSeq}, #{readerId}, sysdate)
		ON DUPLICATE KEY
		UPDATE latest=sysdate;
	</insert>

	<!-- 게시글 조회수 수정 -->
	<update id="increaseBbsReadCount" parameterType="Integer">
		UPDATE tipboard
		SET count = count + 1
		WHERE seq = #{seq}
	</update>

	<!-- 게시글 작성 -->
	<insert id="createBbs" parameterType="com.zd.back.tipboard.bbs.dto.param.CreateBbsParam"
					useGeneratedKeys="true" keyProperty="seq">
		INSERT into tipboard (seq, memId, ref, step, depth, title, content, created, del, count)
		VALUES (tipboard_seq.NEXTVAL, #{memId}, (SELECT nvl(max(ref), 0)+1 from tipboard b), 0, 0, #{title}, #{content}, sysdate, 0, 0)
	</insert>

	<!-- 답글 작성 -->
	<!-- 부모 게시글 step 업데이트 -->
	<update id="updateBbsStep" parameterType="Integer">
		UPDATE tipboard
		SET step = step + 1
		WHERE ref = (SELECT ref FROM (SELECT ref FROM tipboard a WHERE seq=#{parentSeq}) A)
		AND step > (SELECT step FROM (SELECT step FROM tipboard b WHERE seq=#{parentSeq}) B)
	</update>

	<!-- 부모 게시글 하위 답글 개수 조회 (step 업데이트 성공 여부 확인 휘함) -->
	<select id="getBbsAnswerCount" parameterType="Integer" resultType="Integer">
		SELECT COUNT(*)
		FROM tipboard
		WHERE ref = (SELECT ref FROM (SELECT ref FROM tipboard a WHERE seq=#{parentSeq}) A)
		AND step > (SELECT step FROM (SELECT step FROM tipboard b WHERE seq=#{parentSeq}) B)
	</select>

	<!-- 새로운 답글 추가 -->
	<insert id="createBbsAnswer" parameterType="com.zd.back.tipboard.bbs.dto.param.CreateBbsAnswerParam"
					useGeneratedKeys="true" keyProperty="seq">
		INSERT INTO tipboard (seq, memId, ref, step, depth, title, content, created, del, count)
		VALUES (tipcomment_seq.NEXTVAL, #{memId}, (SELECT ref FROM tipboard a WHERE seq=#{parentSeq}),
		        		(SELECT step FROM tipboard b WHERE seq=#{parentSeq}) + 1,
		       			(SELECT depth FROM tipboard c WHERE seq=#{parentSeq}) + 1,
		       			#{title}, #{content}, sysdate, 0, 0);
	</insert>

	<!-- 게시글 수정 -->
	<!-- 수정 성공 시 1(수정한 레코드 개수) 을 반환, 실패 시 0 을 반환 -->
	<update id="updateBbs" parameterType="com.zd.back.tipboard.bbs.dto.param.UpdateBbsParam">

		UPDATE tipboard
		SET content=#{content}, title=#{title}
		WHERE seq=#{seq}

	</update>

	<update id="deleteBbs" parameterType="Integer">
		UPDATE tipboard
		SET del = 1
		WHERE seq=#{seq}
	</update>

</mapper>


