<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zd.back.tipboard.comment.mapper.CommentMapper">

	<!-- 댓글 조회 -->
	<select id="getCommentPageList" parameterType="com.zd.back.tipboard.comment.dto.param.CommentListParam"
					resultType="com.zd.back.tipboard.comment.domain.Comment">

		SELECT seq, memId, content, bbsSeq, created, del
		FROM (
		    SELECT row_number() OVER(ORDER BY created DESC) AS rnum, seq, memId, content, bbsSeq, created, del
		    FROM tipcomment
				WHERE bbsSeq=#{bbsSeq}) a
		WHERE rnum BETWEEN ${pageStart} AND ${pageEnd}

	</select>

	<!-- 댓글 총 개수 조회 -->
	<select id="getCommentCount" parameterType="Integer" resultType="Integer">

		SELECT nvl(count(*), 0)
		FROM tipcomment
		WHERE bbsSeq=#{seq}
	</select>

	<!-- 댓글 추가 -->
	<insert id="createComment" parameterType="com.zd.back.tipboard.comment.dto.param.CreateCommentParam"
					useGeneratedKeys="true" keyProperty="seq">
		INSERT INTO tipcomment (seq, memId, content, bbsSeq, created, del)
		VALUES (tipcomment_seq.NEXTVAL, #{memId}, #{content}, #{bbsSeq}, sysdate, 0)
	</insert>

	<!-- 댓글 삭제 -->
	<update id="deleteComment" parameterType="Integer">
		UPDATE tipcomment
		SET del = 1
		WHERE seq = #{seq}
	</update>

	<!-- 댓글 조회 -->
	<select id="getCommentBySeq" parameterType="Integer"
					resultType="com.zd.back.tipboard.comment.domain.Comment">
		SELECT seq, memId, content, bbsSeq, created, del
		FROM tipcomment
		WHERE seq=#{seq}
	</select>

	<!-- 댓글 수정 -->
	<update id="updateComment" parameterType="com.zd.back.tipboard.comment.dto.param.UpdateCommentParam">
		UPDATE tipcomment
		SET content = #{content}
		WHERE seq = #{seq}
	</update>

</mapper>


