<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zd.back.imgboard.mapper.ImgBoardMapper">

<select id="maxImgBoardId" resultType="int">
	select nvl(max(imgBoardId),0) from imgboard
</select>

<!-- userId, cate, title, content, filePath,created,saveFileName, originalFileName, pwd  -->
<!-- login 시 얻은 userId 연동해야함 (-) -->
<insert id="insertImgBoard" parameterType="com.zd.back.imgboard.model.ImgBoard">
	insert into imgboard (imgBoardId, userId, cate, title, content, filePath,created,saveFileName, originalFileName, ) values
	(#{imgBoardId}, #{userid}, #{cate}, #{title}, #{content}, #{filepath},SYSTIMESTAMP,  #{saveFileName}, #{originalFileName})
</insert>






</mapper>
