<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zd.back.imgboard.mapper.ImgBoardMapper">

<select id="maxNo" resultType="int">
	select nvl(max(no),0) from imgboard
</select>

<!-- userId, cate, title, content, filePath,created,saveFileName, originalFileName, pwd  -->
<insert id="insertImgBoard" parameterType="ImgBoard">
	insert into imgboard (no, userId, cate, title, content, filePath,created,saveFileName, originalFileName, pwd) values
	(#{no}, #{userid}, #{cate}, #{title}, #{content}, #{filepath},SYSTIMESTAMP,  #{saveFileName}, #{originalFileName}, #{pwd})
</insert>






</mapper>
