<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zd.back.imgboard.mapper.ImgMapper">

    <select id="maxImgId" resultType="int">
        SELECT NVL(MAX(imgId), 0) FROM Img
    </select>
<insert id="insertImg" parameterType="com.zd.back.imgboard.model.Img">
    INSERT INTO Img (imgId, imgPostId, originalFileName, saveFileName, filePath, fileDate)
    VALUES (imgseq.NEXTVAL, #{imgPostId}, #{originalFileName}, #{saveFileName}, #{filePath}, SYSDATE)
</insert>

</mapper>
