<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zd.back.imgboard.mapper.ImgPostMapper">

<select id="maxImgPostId" resultType="int">
    SELECT NVL(MAX(imgPostId), 0) FROM ImgPost
</select>

<insert id="insertData" parameterType="com.zd.back.imgboard.model.ImgPost">
    INSERT INTO ImgPost (imgPostId, memId, cate, title, content, created)
    VALUES (#{imgPostId}, #{memId}, #{cate}, #{title}, #{content}, SYSDATE)
</insert>


<select id="getDataCount" parameterType="map" resultType="int">
    SELECT NVL(COUNT(*), 0) FROM ImgPost
    WHERE ${searchKey} LIKE '%' || #{searchValue} || '%'
</select>

<select id="getLists" parameterType="map" resultType="com.zd.back.imgboard.model.ImgPost">
    SELECT * FROM (
        SELECT ROWNUM rnum, data.* FROM (
            SELECT imgPostId, memId, cate, title, TO_CHAR(created, 'YYYY-MM-DD') AS created, auth 
            FROM ImgPost
            WHERE ${searchKey} LIKE '%' || #{searchValue} || '%'
            ORDER BY imgPostId DESC
        ) data
    )
    <![CDATA[ WHERE rnum >= #{start} AND rnum <= #{end} ]]>
</select>


</mapper>
