<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.zd.back.imgboard.mapper.ImgPostMapper">

    <select id="maxImgPostId" resultType="int">
        SELECT NVL(MAX(imgPostId), 0) FROM ImgPost
    </select>

    <insert id="insertImgPost" parameterType="com.zd.back.imgboard.model.ImgPost">
        INSERT INTO ImgPost (imgPostId, memId, cate, title, content, created, auth, authDate)
        VALUES (#{imgPostId}, #{memId}, #{cate}, #{title}, #{content}, SYSDATE, #{auth}, SYSDATE)
    </insert>

    <select id="getTotalCount" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM ImgPost ip
        WHERE ${searchKey} LIKE '%' || #{searchValue} || '%'
    </select>

 <select id="getImgBoardList" parameterType="map" resultMap="ImgBoardResultMap">
    SELECT *
    FROM (
        SELECT rownum AS rnum, data.*
        FROM (
            SELECT ip.*, 
                   i.imgId AS thumbnailId, 
                   i.saveFileName, 
                   i.filePath
            FROM ImgPost ip
            LEFT JOIN (
                SELECT imgPostId, imgId, saveFileName, filePath
                FROM Img
                WHERE (imgPostId, imgId) IN (
                    SELECT imgPostId, MIN(imgId)
                    FROM Img
                    GROUP BY imgPostId
                )
            ) i ON ip.imgPostId = i.imgPostId
            WHERE ${searchKey} LIKE '%' || #{searchValue} || '%' 
            ORDER BY ip.imgPostId DESC
        ) data
        WHERE rownum <= #{end}
    )
    WHERE rnum >= #{start}
</select>




<resultMap id="ImgBoardResultMap" type="com.zd.back.imgboard.model.ImgBoard">
    <result property="imgPost.imgPostId" column="imgPostId" />
    <result property="imgPost.memId" column="memId" />
    <result property="imgPost.cate" column="cate" />
    <result property="imgPost.title" column="title" />
    <result property="imgPost.content" column="content" />
    <result property="imgPost.created" column="created" />
    <result property="imgPost.auth" column="auth" />
    <result property="imgPost.authDate" column="authDate" />
    <collection property="images" ofType="com.zd.back.imgboard.model.Img">
        <result property="imgId" column="imgId" />
        <result property="originalFileName" column="originalFileName" />
        <result property="saveFileName" column="saveFileName" />
        <result property="filePath" column="filePath" />
        <result property="fileDate" column="fileDate" />
    </collection>
</resultMap>


</mapper>
