<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zd.back.login.mapper.MemberMapper">

    <insert id="insertMember" parameterType="com.zd.back.login.model.Member">
        INSERT INTO member (memId, pwd, memName, email, tel, post, addr1, addr2)
        VALUES (#{memId}, #{pwd}, #{memName}, #{email}, #{tel}, #{post}, #{addr1}, #{addr2})
    </insert>

    <select id="selectMemberById" parameterType="string" resultType="com.zd.back.login.model.Member">
        SELECT * FROM member WHERE memId = #{memId}
    </select>

    <update id="updateMember" parameterType="com.zd.back.login.model.Member">
        UPDATE member
        SET pwd = #{pwd},
            memName = #{memName},
            email = #{email},
            tel = #{tel},
            post = #{post},
            addr1 = #{addr1},
            addr2 = #{addr2}
        WHERE memId = #{memId}
    </update>

    <delete id="deleteMember" parameterType="string">
        DELETE FROM member WHERE memId = #{memId}
    </delete>

    <select id="findIdByEmail" parameterType="string" resultType="string">
        SELECT memId FROM member WHERE email = #{email}
    </select>

    <select id="countByMemId" resultType="int" parameterType="String">
        SELECT COUNT(*) FROM member WHERE memId = #{memId}
    </select>

</mapper>
